{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 10
  },
  "extends": ["eslint:recommended" ],
  "rules": {
      "no-console": 0,
      "no-unused-vars": 0
  }
}
