version: '3.1'
services:
  db:
    image: postgres:10.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${USER}
    networks:
      - entropic

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - entropic

  queue:
    image: schickling/beanstalkd
    ports:
      - "11300:11300"
    volumes:
      - beanstalk_wal:/var/lib/beanstalkd/
    networks:
      - entropic

  registry:
    image: mhart/alpine-node:12
    volumes:
      - ./services/:/services
    working_dir: /services/registry
    command: npm start
    networks:
      - entropic
    ports:
      - "3000:3000"
    env_file:
      - ./services/registry/.env

  web:
    image: mhart/alpine-node:12
    volumes:
      - ./services/:/services
    working_dir: /services/web
    command: npm start
    networks:
      - entropic
    ports:
      - "3001:3001"
    env_file:
      - ./services/web/.env

  storage:
    image: mhart/alpine-node:12
    volumes:
      - ./services/:/services
    working_dir: /services/storage
    command: npm start
    networks:
      - entropic
    # ports are explicitly hidden, this is an internal service only.
    #ports:
    #  - "3002:3002"
    env_file:
      - ./services/web/.env

volumes:
  postgres_data:
  beanstalk_wal:

networks:
  entropic:
